body {
	/* Make font look similar to the add-on page's native style */
	font: message-box;
	text-rendering: optimizeLegibility;
	text-shadow: 0 1px 1px #fefffe;
	
	/* Prevent text from being selected as if this was a web page */
	-moz-user-select: none;
	cursor: default;
}

/**
 * Simple grid layout for option entries (very similar to the JetPack option page)
 */
body > *[data-option] {
	display: flex;
	flex-direction: row;
	align-items:    center;
	align-content:  stretch;
	
	
	min-height: 35px;
	border-top: 1px solid #c1c1c1;
}
body > *[data-option]:first-child {
	border-top: 0;
}
body > *[data-option].hidden {
	display: none;
}

body > *[data-option] > label,
body > *[data-option] > .label {
	width:     36%;
	min-width: 36%;
	margin-inline-start:   6px;
	-webkit-padding-start: 6px;
	
	font-size: 1.25em;
}

body > *[data-option] > label.with-description,
body > *[data-option] > .label.with-description {
	display: block;
}
body > *[data-option] > label.with-description > p,
body > *[data-option] > .label.with-description > p {
	display: block;
	margin: 0 0.5em 0 2em;
	
	font-size: 90.9%;
	color: graytext;
}

/* Make most content elements use up the remaining available space */
body > *[data-option] > input,
body > *[data-option] > select,
body > *[data-option] > .value {
	flex-grow: 1;
	
	box-sizing: border-box;
	
	margin: 3px 0;
}
/* Exclude checkbox-style elements */
body > *[data-option][data-option-style="selectable"] > input,
body > *[data-option][data-option-style="selectable"] > select,
body > *[data-option][data-option-style="selectable"] > .value {
	flex-grow: 0;
	width:     auto;
}
